.input-title{
    display: flex;
    height: 50px;
    background-color: red;
    input {
        height: 100% ;
        width: 100% ;
    }
    margin-bottom: 20px;
}
.tag {
    background-color: rgb(170, 182, 216);
    width: 70px;
    height: 100%;
}

.quill-editor{
   // height: 200px;
    background-color: white;
}

.btn-post{
    margin-top: 50px;
    border: 1px solid  rgb(170, 182, 216);
    padding-top: 10px;
    padding-bottom: 10px;
}