.wrapper {
    height: var(--heigh-header);

    width: 100%;
    display: flex;

}



.content {
    width: 80%;
    height: 100%;
    background-color: pink;

}



.logo {
    width: 10%;
    height: 50px;

    // margin-left: ;



}

.bg-body-tertiary {
    background-color: var(--background-color-secondary) !important;
    padding: 0%;
    padding:  10px 0px 10px 0px;
    border-bottom: 1px solid white;

}



.btn-group {
    position: relative;
    z-index: 2; // -1
    /* Đặt thấp hơn .infor */
    // visibility: hidden;
}

.infor {
    position: absolute;
    visibility: hidden;

    right: 100px;
    z-index: -1; // 2

}

.circle {

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: yellow;


}

.wrap {
    width: 304px;
    background-color: blue;
    display: flex;
}