@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');


:root {
    --heigh-header: 60px;
    --primary-background-color: black; 
    --secondary-background-color:rgb(28, 28, 29) ;
    --primary-color: rgba(255, 255, 255, 0.814); ;
}

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--primary-background-color);
    
}

